* {
	margin: 0 auto;
	padding: 0;
}
main {
	max-width: 1140px;
}

/* Header section design */

.btn-primary {
        position: absolute;
        width: 160px;
        height: 64px;
        left: 850px;
        top: 578px;
        font-weight: 800;
        text-align: center;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        background: #a82828;
    }
    
header {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;
	background-image: url('../images/banner/banner2.png');
	width: 1500px;
	height: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    margin-bottom: 60px;
}

.main-line{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 680px;
    top: 916px;
    font-style: normal;
    font-size: 25px;
    line-height: 26px;
}
.list{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 680px;
    top: 960px;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}
.img{
  

    
}

